{
  "env": { "browser": true, "node": true },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "react/require-default-props": [
      2,
      {
        "forbidDefaultForRequired": true,
        "classes": "defaultProps",
        "functions": "defaultArguments"
      }
    ]
  }
}
