{
  "env": { "browser": true, "node": true },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off"
  }
}
